<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Rancho Community Church, <%= @connection.name %></h1>
    <p>
      Thank you for visiting Rancho this weekend, please visit our website www.rcc.tv to see a current list of our offered groups<br/>
    </p>
    
    </p>
    <p>If you have any questions please feel free to contact the Church office at 951-303-6789</p>
  </body>
</html>